/* for popups */
#modal-popup{
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  margin: auto;
}

.modal-content{
  background-color: #fefefe;
  margin: auto; /* 15% from the top and centered */
  border: 1px solid darkgray;
  width: fit-content;
  height: fit-content;
  box-shadow: 0px 0px 10px 1px #5E8A51;
  /* vertical centering */
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.carousel-caption {
  top: 20px;
  /* vertical centering */
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  bottom: auto;
  text-align: left;
}
/* individual carousel card stylings */
.green{
  color: #73E94E;
  text-decoration: underline;
}

.green:hover{
  color: #C9E996;
}

.btn-contact{
  height: 30px;
  padding: 0px 8px;
}

.twitter{
  background-color: #1DA1F2;
}

.github{
  background-color: #333333;
}

/* bottom of modal */
.close-modal{
  padding: 0px 10px;
  text-align: right;
}

.close {
  font-size: 20px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
