<div class="wrapper">
<div class="mobile-content">
    <div>
      <img src="../imgs/mobilePopup.png" align="center" alt="I WARNED YOU ABOUT LAYOUT BRO!!!! I TOLD YOU DOG" width="100%">
    </div>
    <p class="mobile-text">
      This site is optimised for desktop and may not display correctly on mobile.
    </p>
    <a href="#" class="hs" onclick="closeMobile()">==> Alright.</a>
    <br>
</div>
<div class="cookie-check">
  <input id="mobileCookie" type="checkbox" value="mobile">  <label for="mobile">Hide this message forever</label>
</div>
</div>
