<!-- TODO: cleanup/customize bootstrap code -->
<h1 class="title-text">Homestuck Comic Maker</h1>
<h1 class="title-small">HS Comic Maker</h1>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <div class="navbar-nav form-inline my-2 my-lg-0">
    <div class="nav-item">
      <a id="about" class="nav-link modal-btn" onclick="displayModal()">About</a>
    </div>
    <div class="nav-item modal-btn">
      <a id="instructions" class="nav-link" onclick="displayModal()">Instructions</a>
    </div>
    <div class="nav-item modal-btn">
      <a id="contact" class="nav-link" onclick="displayModal()">Contact</a>
    </div>
    <div class="nav-item modal-btn">
      <a id="credit" class="nav-link" onclick="displayModal()">Credit</a>
    </div>
    <div class="nav-item modal-btn">
      <a class="nav-link" href="https://github.com/z-zang/Homestuck-Comic-Maker" target="_blank">On Github</a>
    </div>
  </div>
</div>
